@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font-style {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
}

/* ________shared style_______ */
.container {
  width: 80%;
  margin: 5rem auto;
  border-radius: 1rem;

  /* border: 1px solid red; */
}

h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}

.span {
  color: rgb(255, 84, 0);
}

p,
li {
  font-size: 17px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}

/* ________navbar_________ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* ____logo____ */
.logo {
  display: flex;
  align-items: center;
  width: 300px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

/* ________nav-option________*/
.nav-option {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.nav-option p {
  cursor: pointer;
}

/* _____________banner____________ */
.explore-your-travel {
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-container h3 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.explore-container p {
  color: rgb(206, 235, 230);
  font-size: 18px;
  line-height: 26px;
  width: 670px;
  padding: 1.5rem 0;
  margin: auto;
  font-weight: 500;
}

.travel-inputs {
  margin-top: 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(4px);

}

input,
select {
  width: 170px;
  height: 50px;
  padding: 0 0.5rem;
  margin: 0 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  width: 170px;
  height: 50px;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  border: 1px solid rgb(255, 84, 0);
  font-size: 14px;
  color: white;
  font-weight: bold;
}

/* ___________popular section________ */
.popular-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.popular-section img {
  width: 100%;
  height: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-content p,
li {
  font-size: 16px;
  line-height: 30px;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.text-content p,
.text-content li,
.text-content h3 {
  text-align: left;
}

/* ________Destianation________ */
.your-destination img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  gap: 1rem;
}

.row-2 {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.7fr;
  margin: 1rem 0;
  gap: 1rem;
}

.row-3 {
  display: grid;
  grid-template-columns: 0.8fr 1.25fr;
  margin: 1rem 0;
  gap: 1rem;
}

.country-card {
  position: relative;
}

.Country {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/* ____________choose-container____________ */
.choose-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  /* border: 1px solid green; */
  width: 500px;
  height: 200px;
  padding: 2rem 0 1rem 1.5rem;
  background: #fbb46369;
  border: 1px solid #FBB563;
  border-radius: 10px;
}

.card img {
  width: 50px;
  height: 50px;
}

.card h4 {
  margin: 20px 0;
  font-size: 23px;
  color: #131318;
}

.card-description {
  text-align: left;
  line-height: 24px;
  font-size: 15px;
  color: #5A5A5D;
  max-width: 400px;
}

#color {
  background: #e9444425;
}

#bg-color {
  background: #e944446c;
}

/* _____________deals-container_____________ */
.deals-section {
  max-width: 1440;
  height: 320px;
  margin-top: 50px;
  background-image: url('../Images/Group\ 40.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 20px;
  position: relative;
}

#deals-section {
  max-width: 1440;
  margin-top: 50px;
  background-image: url('../Images/Group\ 39.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 20px;
}

.deals-card {
  width: 500px;
  padding: 40px 60px 40px 40px;
  background: #ffffff94;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 57%;
}

#deals-card {
  width: 500px;
  padding: 40px 60px 40px 40px;
  background: #ffffff94;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  /* position: absolute;
  left: 57%; */
}

.deals-card h4 {
  margin: 15px 0;
  font-size: 23px;
  font-weight: bold;
  color: #131318;
}

#deals-card h4 {
  margin: 15px 0;
  font-size: 23px;
  font-weight: bold;
  color: #131318;
}

.deals-card h5 {
  margin: 20px 0;
  font-size: 17px;
  font-weight: 700;
  color: #131318;
}

#deals-card h5 {
  margin: 20px 0;
  font-size: 17px;
  font-weight: 700;
  color: #131318;
}

/*_________Place-container_________ */
.place-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 15px;
}

.place-title {
  font-size: 2rem;
  font-weight: 800;
}

.place-description {
  text-align: left;
  line-height: 24px;
  font-size: 15px;
  color: #5A5A5D;
  margin: 10px 0;
}

.place-text li {
  text-align: left;
  margin: 15px 0;
}

.place-btn {
  width: 170px;
  height: 50px;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  border: 1px solid rgb(255, 84, 0);
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.place-video iframe {
  border-radius: 15px;
}

/* ___________newsletter-container___________ */
.newsletter-container {
  display: flex;
  justify-content: space-between;
}

.from-newsletter {
  width: 48%;
  border: 1px solid magenta;
  border-radius: 15px;
}

.news-image {
  width: 48%;
}

.news-image img {
  width: 100%;
  height: 100%;
}

/* form */
.from-newsletter h4 {
  margin: 15px 0;
  font-size: 30px;
  font-weight: bold;
  color: #131318;
  margin-left: 20px;
}
.from-newsletter p{
  text-align: left;
  line-height: 24px;
  font-size: 15px;
  color: #5A5A5D;
  margin: 10px 0 10px 20px;
}
.from-newsletter hr{
  margin: 3rem 25px;
  color: #131318;
}



.from-newsletter input[type="text"],
input[type="email"] {
  height: 30px;
  width: 90%;
  padding: 15px 15px;
  margin-bottom: 20px;
  background: rgba(19, 19, 24, 0.05);
}
.from-newsletter .from-btn{
  background: rgb(255, 84, 0);
  width: 94%;
  height: 60px;
  margin-left: 14px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 17px;
}








/* _____________footer-section______________ */
.footer-section {
  /* border: 1px solid red; */
  background: rgba(19, 19, 24, 0.05);
  padding: 2rem 0;
}

.footer-section .logo {
  margin: 2rem auto;
}

.social {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.social i {
  height: 44px;
  font-size: 30px;
}

.footer-section hr {
  margin: 2rem 0;
}

.hum-burger {
  display: none;
}

/* ______________responsive media-query _____________*/
@media screen and (max-width:600px) {
  .container {
    width: 90%;
    /* margin: 5rem auto; */
  }

  .nav-option {
    display: none;
  }

  .hum-burger {
    display: block;
  }

  .hum-burger i {
    font-size: 37px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .container {
    margin: 3rem auto;
  }

  .explore-container h3 {
    font-size: 30px;
  }

  .explore-container p {
    width: 90%;
  }

  .travel-inputs {
    flex-direction: column;
    /* margin: auto; */
  }

  .travel-inputs input,
  .travel-inputs select,
  .travel-inputs button {
    width: 90%;
    margin: 1rem 0;
  }

  .popular-section,
  .row-1,
  .row-2,
  .row-3 {
    grid-template-columns: 1fr;
    /* gap: 2rem; */
  }

  /* ___________choose-container____________ */
  .choose-cards {
    flex-direction: column;
  }

  .card {
    width: 340px;
    height: 250px;
    padding-right: 20px;
  }

  /* ___________deals-container____________ */
  .deals-section {
    height: 500px;
    position: relative;
  }

  #deals-section {
    height: 500px;
    position: relative;
  }

  .deals-card {
    max-width: 250px;
    position: absolute;
    top: 32%;
    left: 5%;
  }

  #deals-card {
    max-width: 250px;
    position: absolute;
    top: 32%;
    left: 5%;
  }

  /*_________Place-container_________ */
  .place-container {
    flex-direction: column;
  }

  .place-video iframe {
    width: 390px;
    height: 230px;
  }
  /* _________newsletter-container_________ */
  .newsletter-container{
    flex-direction: column;
  }
  .from-newsletter{
    width: 100%;
  }
  .news-image{
    width: 100%;
    margin-top: 20px;
  }
  .from-newsletter input[type="text"],
input[type="email"]{
  width: 85%;
}
.from-btn{
  margin-bottom: 20px;
}


}