@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font-style {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
}

/* ________shared style_______ */
.container {
  width: 80%;
  margin: 5rem auto;
  border-radius: 1rem;
  /* border: 1px solid red; */
}

h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}

.span {
  color: rgb(255, 84, 0);
}

p,
li {
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}

/* ________navbar_________ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ____logo____ */
.logo {
  display: flex;
  align-items: center;
  width: 300px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

/* ________nav-option________*/
.nav-option {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.nav-option p {
  cursor: pointer;
}
/* _____________banner____________ */
.explore-your-travel{
  background-image: linear-gradient(180deg, rgba(19,19,24,0.8) 0%,rgba(19,19,24,0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-container h3{
  color: white;
  font-size:3rem ;
  font-weight: 800;
}
.explore-container p{
  color: rgb(206, 235, 230);
  font-size:18px ;
  line-height: 26px;
  width: 670px;
  padding: 1.5rem 0;
  margin: auto;
  font-weight: 500;
}
.travel-inputs{
  margin-top: 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter:blur(4px) ;

}
input, select {
  width: 170px;
  height: 50px;
  padding:0 0.5rem ;
  margin: 0 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.btn-primary{
  width: 170px;
  height: 50px;
  padding:0.7rem 1.2rem ;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  border: 1px solid  rgb(255, 84, 0);
  font-size: 14px;
  color: white;
  font-weight: bold;
}
/* ___________popular section________ */
.popular-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
}
.popular-section img{
  width: 100%;
  height: 100%;
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-content p, li{
  /* text-align: left; */
  font-size: 16px;
  line-height: 24px;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.text-content p,
.text-content li,
.text-content h3{
  text-align: left;
}
/* ________Destianation________ */
.your-destination img{
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}
.row-1{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 1rem 0;
  gap: 1rem;
}
.row-2{
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.7fr ;
  margin: 1rem 0;
  gap: 1rem;
}
.row-3{
  display: grid;
  grid-template-columns: 0.8fr 1.25fr ;
  margin: 1rem 0;
  gap: 1rem;
}
.country-card{
  position: relative;
}
.Country{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transform: translate(-50%,-50%);
}
/* _____________footer-section______________ */
.footer-section{
  background: rgba(19, 19, 24, 0.05);
  padding: 2rem 0;
}
.footer-section .logo{
  margin: 2rem auto;
}
.social{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
.social i{
  height: 44px;
  font-size: 30px;
}
.footer-section hr{
  margin: 2rem 0;
}
.hum-burger{
  display: none;
}
/* ______________responsive media-query _____________*/
@media screen and (max-width:600px){
  .nav-option{
    display:none;
  }
  .hum-burger{
    display: block;
  }
  .hum-burger i{
    font-size: 37px;
  }
  h3{
    font-size: 30px;
  }
  p{
    font-size: 16px;
  }
  .container {
    margin: 3rem auto;
  }
  .explore-container h3{
    font-size: 30px;
  }
  .explore-container p{
    width: 90%;
  }
  .travel-inputs{
    flex-direction: column;
    /* margin: auto; */
  }
  .travel-inputs input,
  .travel-inputs select,
  .travel-inputs button{
    width: 90%;
    margin: 1rem 0;
  }
  .popular-section, .row-1,.row-2,.row-3{
    grid-template-columns:1fr;
    /* gap: 2rem; */
  }

}